<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="costOfLivingApiUrl" value="https://www.numbeo.com/cost-of-living/prices_by_country.jsp"/>
    <add key="currencyExchangeApiUrl" value="http://free.currencyconverterapi.com/api/v5/convert"/>
    <add key="resourceDir" value="\\Resource\\"/>
    <add key="currencyJson" value="Common-Currency.json"/>
    <add key="itemMappingJson" value="Item-Mapping.json"/>
  </appSettings>
</configuration>